#filename: docker-compose-swarm-gpu.yml.tmpl
version: '3.3'


volumes:
  mongo_db_data:
  redis_db_data:
  backend_data:
  api_gateway_keys:

### create prod overlay network: docker network create -d overlay --attachable prod
### create proxy overlay network: docker network create -d overlay --attachable proxy

networks:
  prod:
    external: true
  proxy:
    external: true


configs:
  {{'default' | env('SITE_NAME')}}_guacamole_mapping:
    file: ./guacamole/user-mapping-cloud.xml
  {{'default' | env('SITE_NAME')}}_cron_config:
    file: ./env/crontab


secrets:
  anv_cert:
    file: ./tls/apigateway.anyvision.local.crt
  anv_key:
    file: ./tls/apigateway.anyvision.local.key.pem
  anv_ca:
    file: ./tls/anyvisionCA.pem
  anv_full:
    file: ./tls/apigateway.anyvision.local.full.pem
  anv_csr:
    file: ./tls/apigateway.anyvision.local.csr
  passinfo:
    file: ./tls/passinfo


services:


  guacamole:
    image: {{'default' | env('REGISTRY_HOST')}}{{'' | env('REGISTRY_PORT')}}/guacamole:0.9.14
    networks:
      proxy:
      prod:
        aliases:
         - guacamole-{{'default' | env('SITE_NAME')}}.anyvision.local
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    configs:
      - source: {{'default' | env('SITE_NAME')}}_guacamole_mapping
        target: /etc/guacamole/user-mapping.xml
        mode: 444
    environment:
      - GUACD_LOGLEVEL=info
    env_file:
      - env/global.env
    logging:
      options:
        max-size: 1g
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.labels.site=={{'default' | env('SITE_NAME')}}
      restart_policy:
        delay: 5s
      labels:
        com.df.notify: 'true'
        com.df.servicePath: "/{{'default' | env('SITE_NAME')}}"
        com.df.reqPathSearchReplace: "/{{'default' | env('SITE_NAME')}},"
        com.df.port: 8080



  sftp:
    image: {{'default' | env('REGISTRY_HOST')}}{{'' | env('REGISTRY_PORT')}}/sftp:alpine
    networks:
      prod:
        aliases:
          - sftp-{{'default' | env('SITE_NAME')}}.anyvision.local
    volumes:
      - /storage/sftp_data:/home/user
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    command: user:pass:2000:2000:files
    env_file:
      - env/global.env
    logging:
      options:
        max-size: 1g
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.labels.site=={{'default' | env('SITE_NAME')}}
      restart_policy:
        delay: 5s



  nginx:
    image: {{'default' | env('REGISTRY_HOST')}}{{'' | env('REGISTRY_PORT')}}/nginx-rtmp:ssl
    networks:
      proxy:
      prod:
        aliases:
         - nginx-{{'default' | env('SITE_NAME')}}.anyvision.local
    volumes:
      - /storage:/opt/nginx/html:ro
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    secrets:
      - source: anv_cert
        target: /usr/local/share/ca-certificates/anyvision/apigateway.anyvision.local.crt
        uid: "0"
        mode: 400
      - source: anv_key
        target: /usr/local/share/ca-certificates/anyvision/apigateway.anyvision.local.key.pem
        uid: "0"
        mode: 400
      - source: passinfo
        target: /usr/local/share/ca-certificates/anyvision/passinfo
        uid: "0"
        mode: 400
    environment:
      - limit_rate_speed=0
    env_file:
      - env/global.env
    logging:
      options:
        max-size: 1g
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.labels.site=={{'default' | env('SITE_NAME')}}
      restart_policy:
        delay: 5s
      labels:
        com.df.notify: 'true'
        com.df.port: 443
        com.df.srcPort: 443
        com.df.reqMode: sni
        com.df.pathType: "req_ssl_sni -i -m reg"
        com.df.servicePath: "^(nginx-{{'default' | env('SITE_NAME')}}\\.)"



  cron:
    image: {{'default' | env('REGISTRY_HOST')}}{{'' | env('REGISTRY_PORT')}}/supercronic:latest
    networks:
      prod:
        aliases:
          - cron-{{'default' | env('SITE_NAME')}}.anyvision.local
    volumes:
      - /storage:/var/www/html
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    configs:
      - source: {{'default' | env('SITE_NAME')}}_cron_config
        target: /etc/crontab
        mode: 444
    environment:
      - TO_DATE_TRACK_DELETE=30
    logging:
      options:
        max-size: 1g
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.labels.site=={{'default' | env('SITE_NAME')}}
      restart_policy:
        delay: 5s



  rabbitmq:
    image: {{'default' | env('REGISTRY_HOST')}}{{'' | env('REGISTRY_PORT')}}/rabbitmq:latest
    networks:
      prod:
        aliases:
          - rabbitmq-{{'default' | env('SITE_NAME')}}.anyvision.local
    volumes:
      - /storage/rabbitmq:/var/lib/rabbitmq
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    env_file:
      - env/global.env
    logging:
      options:
        max-size: 1g
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.labels.site=={{'default' | env('SITE_NAME')}}
      restart_policy:
        delay: 5s



  mongodb:
    image: {{'default' | env('REGISTRY_HOST')}}{{'' | env('REGISTRY_PORT')}}/mongo:3.6-jessie
    networks:
      prod:
        aliases:
          - mongodb-{{'default' | env('SITE_NAME')}}.anyvision.local
    volumes:
      - mongo_db_data:/data/db
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    env_file:
      - env/global.env
    logging:
      options:
        max-size: 1g
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.labels.site=={{'default' | env('SITE_NAME')}}
      restart_policy:
        delay: 5s



  redis:
    image: {{'default' | env('REGISTRY_HOST')}}{{'' | env('REGISTRY_PORT')}}/redis:latest
    networks:
      prod:
        aliases:
          - redis-{{'default' | env('SITE_NAME')}}.anyvision.local
    volumes:
      - redis_db_data:/data:rw
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    logging:
      options:
        max-size: 1g
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.labels.site=={{'default' | env('SITE_NAME')}}
      restart_policy:
        delay: 5s



  broadcaster:
    image: {{'default' | env('REGISTRY_HOST')}}{{'' | env('REGISTRY_PORT')}}/broadcaster:1.19.2
    hostname: broadcaster
    networks:
      proxy:
      prod:
        aliases:
          - broadcaster-{{'default' | env('SITE_NAME')}}.anyvision.local
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    secrets:
      - source: anv_ca
        target: /usr/local/share/ca-certificates/anyvision/anyvisionCA.pem
        uid: "0"
        mode: 444
    depends_on:
      - api
    environment:
      - api_service_ip=api-{{'default' | env('SITE_NAME')}}.anyvision.local
      - BCAST_SOCKETIO_API_URL="https://apigateway-{{'default' | env('SITE_NAME')}}.anyvision.local:5443"
      - RUN_AS_USER=user
      - ENABLE_CHOWN=false
    env_file:
      - env/global.env
      - env/broadcaster.env
    logging:
      options:
        max-size: 1g
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.labels.site=={{'default' | env('SITE_NAME')}}
      restart_policy:
        delay: 5s



  apigateway:
    image: {{'default' | env('REGISTRY_HOST')}}{{'' | env('REGISTRY_PORT')}}/api-gateway:1.19.2
    networks:
      proxy:
      prod:
        aliases:
          - apigateway-{{'default' | env('SITE_NAME')}}.anyvision.local
    volumes:
      - /storage:/var/www/html
      - api_gateway_keys:/home/user/api-gateway/config/keys
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    secrets:
      - source: anv_key
        target: /usr/local/share/ca-certificates/anyvision/apigateway.anyvision.local.key.pem
        uid: "0"
        mode: 444
      - source: anv_ca
        target: /usr/local/share/ca-certificates/anyvision/anyvisionCA.pem
        uid: "0"
        mode: 444
      - source: anv_full
        target: /usr/local/share/ca-certificates/anyvision/apigateway.anyvision.local.full.pem
        uid: "0"
        mode: 444
    depends_on:
      - redis
    environment:
      - GATEWAY_HOST=apigateway-{{'default' | env('SITE_NAME')}}.anyvision.local
      - API_HOST=api-{{'default' | env('SITE_NAME')}}.anyvision.local
      - DASH_API_URL=https://api-{{'default' | env('SITE_NAME')}}.anyvision.local:5443
      - GATEWAY_SECURE_URL=https://apigateway-{{'default' | env('SITE_NAME')}}.anyvision.local:9443
      - GATEWAY_URL=http://apigateway-{{'default' | env('SITE_NAME')}}.anyvision.local:8080
      - REDIS_HOST=redis-{{'default' | env('SITE_NAME')}}.anyvision.local
      - RUN_AS_USER=user
      - ENABLE_CHOWN=false
      - ENABLE_CREATE_SSL=false
    env_file:
      - env/api-gateway.env
      - env/global.env
    logging:
      options:
        max-size: 1g
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.labels.site=={{'default' | env('SITE_NAME')}}
      restart_policy:
        delay: 5s
      labels:
        com.df.notify: 'true'
        com.df.port: 9443
        com.df.srcPort: 9443
        com.df.reqMode: sni
        com.df.pathType: "req_ssl_sni -i -m reg"
        com.df.servicePath: "^(apigateway-{{'default' | env('SITE_NAME')}}\\.)"



  api:
    image: {{'default' | env('REGISTRY_HOST')}}{{'' | env('REGISTRY_PORT')}}/api:1.19.2
    networks:
      proxy:
      prod:
        aliases:
          - api-{{'default' | env('SITE_NAME')}}.anyvision.local
    volumes:
      - /storage:/var/www/html
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    secrets:
      - source: anv_key
        target: /usr/local/share/ca-certificates/anyvision/apigateway.anyvision.local.key.pem
        uid: "0"
        mode: 444
      - source: anv_ca
        target: /usr/local/share/ca-certificates/anyvision/anyvisionCA.pem
        uid: "0"
        mode: 444
      - source: anv_full
        target: /usr/local/share/ca-certificates/anyvision/apigateway.anyvision.local.full.pem
        uid: "0"
        mode: 444
    environment:
      - API_IP=api-{{'default' | env('SITE_NAME')}}.anyvision.local
      - MONGO_DB_IP=mongodb-{{'default' | env('SITE_NAME')}}.anyvision.local
      - CA_HOST=apigateway-{{'default' | env('SITE_NAME')}}.anyvision.local
      - MASS_IMPORT_IP=reid-{{'default' | env('SITE_NAME')}}.anyvision.local
      - RUN_AS_USER=user
      - ENABLE_CHOWN=false
    env_file:
      - env/global.env
      - env/api.env
    logging:
      options:
        max-size: 1g
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.labels.site=={{'default' | env('SITE_NAME')}}
      restart_policy:
        delay: 5s



  backend:
    image: {{'default' | env('REGISTRY_HOST')}}{{'' | env('REGISTRY_PORT')}}/backend-pyconcrete:1.19.2
    networks:
      prod:
        aliases:
          - proc-{{'default' | env('SITE_NAME')}}.anyvision.local
          - reid-{{'default' | env('SITE_NAME')}}.anyvision.local
          - coll-{{'default' | env('SITE_NAME')}}.anyvision.local
          - arch-{{'default' | env('SITE_NAME')}}.anyvision.local
    volumes:
      - /home/user/license:/home/user/license:ro
      - backend_data:/root/pipe_data
      - /storage:/var/www/html
      - /dev/shm:/dev/shm:rw
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    secrets:
      - source: anv_cert
        target: /usr/local/share/ca-certificates/anyvision/apigateway.anyvision.local.crt
        uid: "0"
        mode: 444
      - source: anv_key
        target: /usr/local/share/ca-certificates/anyvision/apigateway.anyvision.local.key.pem
        uid: "0"
        mode: 444
      - source: anv_ca
        target: /usr/local/share/ca-certificates/anyvision/anyvisionCA.pem
        uid: "0"
        mode: 444
    environment:
      - DISPLAY=:0
      - external_ip=proc-{{'default' | env('SITE_NAME')}}.anyvision.local
      - storage_ip=nginx-{{'default' | env('SITE_NAME')}}.anyvision.local
      - frame_store_storage_ip=nginx-{{'default' | env('SITE_NAME')}}.anyvision.local
      - redis_host=127.0.0.1
      - api_service_ip=api-{{'default' | env('SITE_NAME')}}.anyvision.local
      - mongodb_host=mongodb-{{'default' | env('SITE_NAME')}}.anyvision.local
      ########################################################################## use the configuration below to configure localhost services
      - reid_service_ip=reid-{{'default' | env('SITE_NAME')}}.anyvision.local
      - collate_service_ip=coll-{{'default' | env('SITE_NAME')}}.anyvision.local
      - track_archive_service_ip=arch-{{'default' | env('SITE_NAME')}}.anyvision.local
      ########################################################################## use the configuration below to configure the "b" server(s) hostname(s) in a/b architecture
      #- reid_service_ip=reid-b.anyvision.local
      #- collate_service_ip=coll-b.anyvision.local
      #- track_archive_service_ip=arch-b.anyvision.local
    env_file:
      - env/backend.env
      - env/global.env
    logging:
      options:
        max-size: 1g
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.labels.site=={{'default' | env('SITE_NAME')}}
      restart_policy:
        delay: 5s


  dashboard:
    image: {{'default' | env('REGISTRY_HOST')}}{{'' | env('REGISTRY_PORT')}}/dashboard:1.19.2
    networks:
      - prod
    volumes:
      - /storage/sftp_data:/sftp:rw
      - /media:/home/user/media:ro
      - /storage/share:/home/user/share:rw
      - /dev/shm:/dev/shm:rw
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    secrets:
      - source: anv_ca
        target: /usr/local/share/ca-certificates/anyvision/anyvisionCA.pem
        uid: "0"
        mode: 444
    environment:
      - DISPLAY=:0
      - ssl=true
      - GATEWAY_HOST=apigateway-{{'default' | env('SITE_NAME')}}.anyvision.local
      - RUN_AS_USER=user
      - ENABLE_CHOWN=false
    env_file:
      - env/global.env
      - env/api-gateway.env
      - env/dashboard.env
    logging:
      options:
        max-size: 1g
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.labels.site=={{'default' | env('SITE_NAME')}}
      restart_policy:
        delay: 5s



  desktop:
    image: {{'default' | env('REGISTRY_HOST')}}{{'' | env('REGISTRY_PORT')}}/desktop:latest
    networks:
      prod:
        aliases:
          - desktop-{{'default' | env('SITE_NAME')}}.anyvision.local
    volumes:
      - /storage/sftp_data:/sftp:ro
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - /dev/shm:/dev/shm:rw
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    environment:
      - DISPLAY=:0
      - VNC_OPTIONS=-noshm -nodpms -noxdamage -shared -forever -passwd 123456 -rfbport 5900 -display :0
    env_file:
      - env/global.env
    logging:
      options:
        max-size: 1g
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.labels.site=={{'default' | env('SITE_NAME')}}
      restart_policy:
        delay: 5s
