$TTL 3600
$ORIGIN {{domain}}.
@ IN  SOA sns.dns.icann.org. noc.dns.icann.org. (
          2017042745  ; serial
          2H          ; refresh
          15          ; retry
          1W          ; expire
          1H          ; minimum
          )

; MASTER API
{%- for ip in ips %}
dashboard-master     IN A  {{ip}}
api-master           IN A  {{ip}}
{%- endfor %}

; SITES
{%- for ip in ips -%}
{% for site in sites %}
apigateway-{{site}}  IN A  {{ip}}
nginx-{{site}}       IN A  {{ip}}
{%- endfor %}
{%- endfor %}
