#filename: node-gpu-stack-a.yml.tmpl
version: '3.3'


volumes:
  redis_db_data:
  api_gateway_keys:

### create prod overlay network: docker network create -d overlay --attachable prod
### create proxy overlay network: docker network create -d overlay --attachable proxy

networks:
  prod:
    external: true
  proxy:
    external: true
  {{'default'|env('SITE_NAME')}}:


configs:
  {{'default'|env('SITE_NAME')}}_guacamole_mapping:
    file: ./guacamole/user-mapping-cloud.xml
  {{'default'|env('SITE_NAME')}}_cron_config:
    file: ./crontab/a_site_crontab


secrets:
  anv_cert:
    file: ./tls/apigateway.anyvision.local.crt
  anv_key:
    file: ./tls/apigateway.anyvision.local.key.pem
  anv_ca:
    file: ./tls/anyvisionCA.pem
  anv_full:
    file: ./tls/apigateway.anyvision.local.full.pem
  anv_csr:
    file: ./tls/apigateway.anyvision.local.csr
  passinfo:
    file: ./tls/passinfo


services:



  nginx:
    image: {{'gcr.io/anyvision-production'|env('REGISTRY_HOST')}}/nginx-rtmp:ssl
    networks:
      proxy:
      {{'default'|env('SITE_NAME')}}:
        aliases:
         - nginx-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}
    volumes:
      - /storage:/opt/nginx/html:ro
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    secrets:
      - source: anv_cert
        target: /usr/local/share/ca-certificates/anyvision/apigateway.anyvision.local.crt
        uid: "0"
        mode: 400
      - source: anv_key
        target: /usr/local/share/ca-certificates/anyvision/apigateway.anyvision.local.key.pem
        uid: "0"
        mode: 400
      - source: passinfo
        target: /usr/local/share/ca-certificates/anyvision/passinfo
        uid: "0"
        mode: 400
    environment:
      - limit_rate_speed=0
    env_file:
      - env/global.env
    logging:
      options:
        max-size: 1g
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.labels.site=={{'default'|env('SITE_NAME')}}
      restart_policy:
        delay: 5s
      labels:
        com.df.notify: 'true'
        com.df.port: 443
        com.df.srcPort: 443
        com.df.reqMode: sni
        com.df.pathType: "req.ssl_sni -i -m reg"
        com.df.servicePath: "^(nginx-{{'default'|env('SITE_NAME')}}\\.)"
#        com.df.port.2: 80
#        com.df.srcPort.2: 80
#        com.df.reqMode.2: http
#        com.df.pathType.2: "req.hdr_beg(host) -i"
#        com.df.servicePath.2: "nginx-{{'default'|env('SITE_NAME')}}."




  cron:
    image: {{'gcr.io/anyvision-production'|env('REGISTRY_HOST')}}/supercronic:latest
    networks:
      {{'default'|env('SITE_NAME')}}:
        aliases:
          - cron-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}
    volumes:
      - /storage:/var/www/html
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    configs:
      - source: {{'default'|env('SITE_NAME')}}_cron_config
        target: /etc/crontabs/crontab
        mode: 444
    environment:
      - TO_DATE_TRACK_DELETE=30
    logging:
      options:
        max-size: 1g
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.labels.site=={{'default'|env('SITE_NAME')}}
      restart_policy:
        delay: 5s




  backend:
    image: {{'gcr.io/anyvision-production'|env('REGISTRY_HOST')}}/backend-pyconcrete:1.19.4.rc2
    networks:
      {{'default'|env('SITE_NAME')}}:
        aliases:
          - proc-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}
          - reid-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}
          - coll-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}
          - arch-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}
      prod:
        aliases:
          - proc-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}
          - reid-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}
          - coll-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}
          - arch-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}
    volumes:
      - /home/user/license:/home/user/license:ro
      - /ssd/pipe_data:/root/pipe_data
      - /storage:/var/www/html
      - /dev/shm:/dev/shm:rw
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    secrets:
      - source: anv_cert
        target: /usr/local/share/ca-certificates/anyvision/apigateway.anyvision.local.crt
        uid: "0"
        mode: 444
      - source: anv_key
        target: /usr/local/share/ca-certificates/anyvision/apigateway.anyvision.local.key.pem
        uid: "0"
        mode: 444
      - source: anv_ca
        target: /usr/local/share/ca-certificates/anyvision/anyvisionCA.pem
        uid: "0"
        mode: 444
    environment:
      - DISPLAY=:0
      - external_ip=proc-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}
      - storage_ip=nginx-b.{{'anyvision.local'|env('DOMAIN_NAME')}}
      - frame_store_storage_ip=nginx-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}
      - redis_host=127.0.0.1
      - api_service_ip=api-b.{{'anyvision.local'|env('DOMAIN_NAME')}}
      - mongodb_host=mongodb-b.{{'anyvision.local'|env('DOMAIN_NAME')}}
      ##########################################################################
      - reid_service_ip=reid-b.{{'anyvision.local'|env('DOMAIN_NAME')}}
      - collate_service_ip=coll-b.{{'anyvision.local'|env('DOMAIN_NAME')}}
      - track_archive_service_ip=arch-b.{{'anyvision.local'|env('DOMAIN_NAME')}}
      ########################################################################## Services override for A sites
      - ENABLE_DOCKERIZE=false
      - ENABLE_REID_SERVICE=false
      - ENABLE_TRACK_ARCHIVE_SERVICE=false
      - ENABLE_COLLATE_SERVICE=false
      - ENABLE_XPRA_SERVICE=false
      - ENABLE_CRON_PIPE_IMG_TEMPORARY=false
    env_file:
      - env/backend.env
      - env/global.env
    logging:
      options:
        max-size: 1g
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.labels.site=={{'default'|env('SITE_NAME')}}
      restart_policy:
        delay: 5s
