#filename: node-gpu-stack-b.yml.tmpl
version: '3.3'


volumes:
  redis_db_data:
  api_gateway_keys:

### create prod overlay network: docker network create -d overlay --attachable prod
### create proxy overlay network: docker network create -d overlay --attachable proxy

networks:
  prod:
    external: true
  proxy:
    external: true
  {{'default'|env('SITE_NAME')}}:


configs:
  {{'default'|env('SITE_NAME')}}_guacamole_mapping:
    file: ./guacamole/user-mapping-cloud.xml
  {{'default'|env('SITE_NAME')}}_cron_config:
    file: ./crontab/site_crontab


secrets:
  anv_cert:
    file: ./tls/apigateway.anyvision.local.crt
  anv_key:
    file: ./tls/apigateway.anyvision.local.key.pem
  anv_ca:
    file: ./tls/anyvisionCA.pem
  anv_full:
    file: ./tls/apigateway.anyvision.local.full.pem
  anv_csr:
    file: ./tls/apigateway.anyvision.local.csr
  passinfo:
    file: ./tls/passinfo


services:

  guacamole:
    image: {{'gcr.io/anyvision-production'|env('REGISTRY_HOST')}}/guacamole:0.9.14
    networks:
      proxy:
      {{'default'|env('SITE_NAME')}}:
        aliases:
         - guacamole-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    configs:
      - source: {{'default'|env('SITE_NAME')}}_guacamole_mapping
        target: /etc/guacamole/user-mapping.xml
        mode: 444
    environment:
      - GUACD_LOGLEVEL=info
    env_file:
      - env/global.env
    logging:
      options:
        max-size: 1g
    deploy:
      mode: replicated
      replicas: 1
      endpoint_mode: dnsrr
      placement:
        constraints:
          - node.labels.site=={{'default'|env('SITE_NAME')}}
      restart_policy:
        delay: 5s
      labels:
        com.df.notify: 'true'
        com.df.servicePath: "/{{'default'|env('SITE_NAME')}}"
        com.df.reqPathSearchReplace: "/{{'default'|env('SITE_NAME')}},"
        com.df.port: 8080



  sftp:
    image: {{'gcr.io/anyvision-production'|env('REGISTRY_HOST')}}/sftp:alpine
    networks:
      {{'default'|env('SITE_NAME')}}:
        aliases:
          - sftp-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}
    volumes:
      - /storage/sftp_data:/home/user
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    command: user:pass:2000:2000:files
    env_file:
      - env/global.env
    logging:
      options:
        max-size: 1g
    deploy:
      mode: replicated
      replicas: 1
      endpoint_mode: dnsrr
      placement:
        constraints:
          - node.labels.site=={{'default'|env('SITE_NAME')}}
      restart_policy:
        delay: 5s



  nginx:
    image: {{'gcr.io/anyvision-production'|env('REGISTRY_HOST')}}/nginx-rtmp:ssl
    networks:
      proxy:
      {{'default'|env('SITE_NAME')}}:
        aliases:
         - nginx-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}
    volumes:
      - /storage:/opt/nginx/html:ro
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    secrets:
      - source: anv_cert
        target: /usr/local/share/ca-certificates/anyvision/apigateway.anyvision.local.crt
        uid: "0"
        mode: 400
      - source: anv_key
        target: /usr/local/share/ca-certificates/anyvision/apigateway.anyvision.local.key.pem
        uid: "0"
        mode: 400
      - source: passinfo
        target: /usr/local/share/ca-certificates/anyvision/passinfo
        uid: "0"
        mode: 400
    environment:
      - limit_rate_speed=0
    env_file:
      - env/global.env
    logging:
      options:
        max-size: 1g
    deploy:
      mode: replicated
      replicas: 1
      endpoint_mode: dnsrr
      placement:
        constraints:
          - node.labels.site=={{'default'|env('SITE_NAME')}}
      restart_policy:
        delay: 5s
      labels:
        com.df.notify: 'true'
        com.df.port: 443
        com.df.srcPort: 443
        com.df.reqMode: sni
        com.df.pathType: "req.ssl_sni -i -m reg"
        com.df.servicePath: "^(nginx-{{'default'|env('SITE_NAME')}}\\.)"
#        com.df.port.2: 80
#        com.df.srcPort.2: 80
#        com.df.reqMode.2: http
#        com.df.pathType.2: "req.hdr_beg(host) -i"
#        com.df.servicePath.2: "nginx-{{'default'|env('SITE_NAME')}}."




  cron:
    image: {{'gcr.io/anyvision-production'|env('REGISTRY_HOST')}}/supercronic:latest
    networks:
      {{'default'|env('SITE_NAME')}}:
        aliases:
          - cron-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}
    volumes:
      - /storage:/var/www/html
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    configs:
      - source: {{'default'|env('SITE_NAME')}}_cron_config
        target: /etc/crontabs/crontab
        mode: 444
    environment:
      - TO_DATE_TRACK_DELETE=30
    logging:
      options:
        max-size: 1g
    deploy:
      mode: replicated
      replicas: 1
      endpoint_mode: dnsrr
      placement:
        constraints:
          - node.labels.site=={{'default'|env('SITE_NAME')}}
      restart_policy:
        delay: 5s



#  rabbitmq:
#    image: {{'gcr.io/anyvision-production'|env('REGISTRY_HOST')}}/rabbitmq:latest
#    networks:
#      {{'default'|env('SITE_NAME')}}:
#        aliases:
#          - rabbitmq-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}
#      prod:
#        aliases:
#          - rabbitmq-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}
#    volumes:
#      - /storage/rabbitmq:/var/lib/rabbitmq
#      - /etc/localtime:/etc/localtime:ro
#      - /etc/timezone:/etc/timezone:ro
#    env_file:
#      - env/global.env
#    logging:
#      options:
#        max-size: 1g
#    deploy:
#      mode: replicated
#      replicas: 1
#     endpoint_mode: dnsrr
#      placement:
#        constraints:
#          - node.labels.site=={{'default'|env('SITE_NAME')}}
#      restart_policy:
#        delay: 5s



  mongodb:
    image: {{'gcr.io/anyvision-production'|env('REGISTRY_HOST')}}/mongo:3.6-jessie
    networks:
      {{'default'|env('SITE_NAME')}}:
        aliases:
          - mongodb-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}
    volumes:
      - /ssd/mongo_db_data:/data/db
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    env_file:
      - env/global.env
    logging:
      options:
        max-size: 1g
    deploy:
      mode: replicated
      replicas: 1
      endpoint_mode: dnsrr
      placement:
        constraints:
          - node.labels.site=={{'default'|env('SITE_NAME')}}
      restart_policy:
        delay: 5s



  redis:
    image: {{'gcr.io/anyvision-production'|env('REGISTRY_HOST')}}/redis:latest
    networks:
      {{'default'|env('SITE_NAME')}}:
        aliases:
          - redis-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}
    volumes:
      - redis_db_data:/data:rw
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    logging:
      options:
        max-size: 1g
    deploy:
      mode: replicated
      replicas: 1
      endpoint_mode: dnsrr
      placement:
        constraints:
          - node.labels.site=={{'default'|env('SITE_NAME')}}
      restart_policy:
        delay: 5s



#  broadcaster:
#    image: {{'gcr.io/anyvision-production'|env('REGISTRY_HOST')}}/broadcaster:1.19.4-rc.3
#    hostname: broadcaster
#    networks:
#      {{'default'|env('SITE_NAME')}}:
#        aliases:
#          - broadcaster-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}
#    volumes:
#      - /etc/localtime:/etc/localtime:ro
#      - /etc/timezone:/etc/timezone:ro
#    secrets:
#      - source: anv_ca
#        target: /usr/local/share/ca-certificates/anyvision/anyvisionCA.pem
#        uid: "0"
#        mode: 444
#    depends_on:
#      - api
#    environment:
#      - api_service_ip=api-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}
#      - BCAST_SOCKETIO_API_URL=https://api-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}:5443
#      - api_service_port=5443
#      - RUN_AS_USER=user
#      - ENABLE_CHOWN=false
#    env_file:
#      - env/global.env
#      - env/broadcaster.env
#    logging:
#      options:
#        max-size: 1g
#    deploy:
#      mode: replicated
#      replicas: 1
#     endpoint_mode: dnsrr
#      placement:
#        constraints:
#          - node.labels.site=={{'default'|env('SITE_NAME')}}
#      restart_policy:
#        delay: 5s



  apigateway:
    image: {{'gcr.io/anyvision-production'|env('REGISTRY_HOST')}}/api-gateway:1.19.4
    networks:
      proxy:
      {{'default'|env('SITE_NAME')}}:
        aliases:
          - apigateway-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}
    volumes:
      - /storage:/var/www/html
      - api_gateway_keys:/home/user/api-gateway/config/keys
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    secrets:
      - source: anv_key
        target: /usr/local/share/ca-certificates/anyvision/apigateway.anyvision.local.key.pem
        uid: "0"
        mode: 444
      - source: anv_ca
        target: /usr/local/share/ca-certificates/anyvision/anyvisionCA.pem
        uid: "0"
        mode: 444
      - source: anv_full
        target: /usr/local/share/ca-certificates/anyvision/apigateway.anyvision.local.full.pem
        uid: "0"
        mode: 444
    depends_on:
      - redis
    environment:
      - GATEWAY_HOST=apigateway-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}
      - API_HOST=api-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}
      - DASH_API_URL=https://api-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}:5443
      - GATEWAY_SECURE_URL=https://apigateway-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}:9443
      - GATEWAY_URL=http://apigateway-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}:8080
      - REDIS_HOST=redis-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}
      - RUN_AS_USER=user
      - ENABLE_CHOWN=false
      - ENABLE_CREATE_SSL=false
    env_file:
      - env/api-gateway.env
      - env/global.env
    logging:
      options:
        max-size: 1g
    deploy:
      mode: replicated
      replicas: 1
      endpoint_mode: dnsrr
      placement:
        constraints:
          - node.labels.site=={{'default'|env('SITE_NAME')}}
      restart_policy:
        delay: 5s
      labels:
        com.df.notify: 'true'
        com.df.port: 9443
        com.df.srcPort: 9443
        com.df.reqMode: sni
        com.df.pathType: "req.ssl_sni -i -m reg"
        com.df.servicePath: "^(apigateway-{{'default'|env('SITE_NAME')}}\\.)"



  api:
    image: {{'gcr.io/anyvision-production'|env('REGISTRY_HOST')}}/api:1.19.4-rc.3
    networks:
      {{'default'|env('SITE_NAME')}}:
        aliases:
          - api-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}
      prod:
        aliases:
          - api-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}
    volumes:
      - /storage:/var/www/html
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    secrets:
      - source: anv_key
        target: /usr/local/share/ca-certificates/anyvision/apigateway.anyvision.local.key.pem
        uid: "0"
        mode: 444
      - source: anv_ca
        target: /usr/local/share/ca-certificates/anyvision/anyvisionCA.pem
        uid: "0"
        mode: 444
      - source: anv_full
        target: /usr/local/share/ca-certificates/anyvision/apigateway.anyvision.local.full.pem
        uid: "0"
        mode: 444
    environment:
      - API_IP=api-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}
      - MONGO_DB_IP=mongodb-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}
      - CA_HOST=apigateway-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}
      - MASS_IMPORT_IP=reid-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}
      - RUN_AS_USER=user
      - ENABLE_CHOWN=false
    env_file:
      - env/global.env
      - env/api.env
    logging:
      options:
        max-size: 1g
    deploy:
      mode: replicated
      replicas: 1
      endpoint_mode: dnsrr
      placement:
        constraints:
          - node.labels.site=={{'default'|env('SITE_NAME')}}
      restart_policy:
        delay: 5s



  backend:
    image: {{'gcr.io/anyvision-production'|env('REGISTRY_HOST')}}/backend-pyconcrete:1.19.4-rc.3
    networks:
      {{'default'|env('SITE_NAME')}}:
        aliases:
          - proc-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}
          - reid-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}
          - coll-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}
          - arch-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}
      prod:
        aliases:
          - proc-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}
          - reid-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}
          - coll-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}
          - arch-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}
    volumes:
      - /home/user/license:/home/user/license:ro
      - /ssd/pipe_data:/root/pipe_data
      - /storage:/var/www/html
      - /dev/shm:/dev/shm:rw
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    secrets:
      - source: anv_cert
        target: /usr/local/share/ca-certificates/anyvision/apigateway.anyvision.local.crt
        uid: "0"
        mode: 444
      - source: anv_key
        target: /usr/local/share/ca-certificates/anyvision/apigateway.anyvision.local.key.pem
        uid: "0"
        mode: 444
      - source: anv_ca
        target: /usr/local/share/ca-certificates/anyvision/anyvisionCA.pem
        uid: "0"
        mode: 444
    environment:
      - DISPLAY=:0
      - external_ip=proc-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}
      - storage_ip=nginx-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}
      - frame_store_storage_ip=nginx-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}
      - redis_host=127.0.0.1
      - api_service_ip=api-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}
      - mongodb_host=mongodb-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}
      ########################################################################## use the configuration below to configure the "b" server(s) hostname(s) in a/b architecture
      - reid_service_ip=reid-b.{{'anyvision.local'|env('DOMAIN_NAME')}}
      - collate_service_ip=coll-b.{{'anyvision.local'|env('DOMAIN_NAME')}}
      - track_archive_service_ip=arch-b.{{'anyvision.local'|env('DOMAIN_NAME')}}
      ########################################################################## Services override for b sites
      - ENABLE_FRAMESTORE_CLEANER=false
      - ENABLE_PROCESS_SERVICE=false
      - ENABLE_XPRA_SERVICE=false
      - ENABLE_CRON_PIPE_IMG_TEMPORARY=false
    env_file:
      - env/backend.env
      - env/global.env
    logging:
      options:
        max-size: 1g
    deploy:
      mode: replicated
      replicas: 1
      endpoint_mode: dnsrr
      placement:
        constraints:
          - node.labels.site=={{'default'|env('SITE_NAME')}}
      restart_policy:
        delay: 5s


  dashboard:
    image: {{'gcr.io/anyvision-production'|env('REGISTRY_HOST')}}/dashboard:1.19.4-rc.3
    networks:
      - {{'default'|env('SITE_NAME')}}
    volumes:
      - /storage/sftp_data:/sftp:rw
      - /media:/home/user/media:ro
      - /storage/share:/home/user/share:rw
      - /dev/shm:/dev/shm:rw
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    secrets:
      - source: anv_ca
        target: /usr/local/share/ca-certificates/anyvision/anyvisionCA.pem
        uid: "0"
        mode: 444
    environment:
      - DISPLAY=:0
      - ssl=true
      - GATEWAY_HOST=apigateway-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}
      - RUN_AS_USER=root
      - ENABLE_CHOWN=false
    env_file:
      - env/global.env
      - env/api-gateway.env
      - env/dashboard.env
    logging:
      options:
        max-size: 1g
    deploy:
      mode: replicated
      replicas: 1
      endpoint_mode: dnsrr
      placement:
        constraints:
          - node.labels.site=={{'default'|env('SITE_NAME')}}
      restart_policy:
        delay: 5s



  desktop:
    image: {{'gcr.io/anyvision-production'|env('REGISTRY_HOST')}}/desktop:latest
    networks:
      {{'default'|env('SITE_NAME')}}:
        aliases:
          - desktop-{{'default'|env('SITE_NAME')}}.{{'anyvision.local'|env('DOMAIN_NAME')}}
    volumes:
      - /storage/sftp_data:/sftp:ro
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - /dev/shm:/dev/shm:rw
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    environment:
      - DISPLAY=:0
      - VNC_OPTIONS=-noshm -nodpms -noxdamage -shared -forever -passwd 123456 -rfbport 5900 -display :0
    env_file:
      - env/global.env
    logging:
      options:
        max-size: 1g
    deploy:
      mode: replicated
      replicas: 1
      endpoint_mode: dnsrr
      placement:
        constraints:
          - node.labels.site=={{'default'|env('SITE_NAME')}}
      restart_policy:
        delay: 5s
