*/15 * * * * track_delete=$(date --iso-8601=seconds  -d "$TO_DATE_TRACK_DELETE day ago") && curl -G -X "DELETE" --data-urlencode "toDate=$track_delete" http://api:3000/detections
#* * * * * /root/migration/mongo_migration_1.19.2.sh /root/migration/ignoreMigration.js
0 0 * * * find /var/www/html/pipe_store/pipe_img/ -not -path '/var/www/html/pipe_store/pipe_img/' -delete
